@import 'diagram.scss';
@import 'slide.scss';

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	margin: 0;
	overflow: hidden;
}

h1 {
	text-align: center;
}

.clear {
	clear: both;
}

pre.box {
	background-color: #eeeeee;
	border: 1px dashed #999999;
	padding: 10px;
}
