@import 'column.scss';
@import 'step.scss';
@import 'headers.scss';
@import 'markers.scss';

.steps {
	float: left;
	position: relative;
	width: 80%;
}

h1 {
	margin: 8px 0 0 0;
	text-align: center;
}

svg {
	height: 100%;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
}

line.sep {
	fill: none;
	stroke: #eeeeee;
	stroke-width: 1;
}
