.diagram {

	@import 'column.scss';
	@import 'step.scss';
	@import 'markers.scss';

	font-family: 'Indie Flower', sans-serif;
	font-size: 16px;
	margin: -20px;

	h1 {
		margin: 8px 0 0 0;
	}

	svg {
		height: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
	}

	line.sep {
		fill: none;
		stroke: #eeeeee;
		stroke-width: 1;
	}

	text {
		font-size: 22px;
	}

	.total {
		fill: #cc0000;
		font-size: 30px;
		font-weight: bold;
	}

}
