.slide {
	padding: 20px;
	width: 100%;
}

.slide-title {
	font-size: 30px;
	text-align: center;
}

.slide-centre, .slide-title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.slide-step-hidden {
	opacity: 0;
}

.slide-step-visible {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}
