.lineArrowR, .lineArrowL, .lineArrowD {
	fill: none;
	stroke: #6666ff;
	stroke-width: 2;
}
.lineArrowR {
	marker-end: url(#markerArrowR);
}
.lineArrowL {
	marker-end: url(#markerArrowL);
}
.lineArrowD {
	marker-end: url(#markerArrowD);
}
