.lineArrowR, .lineArrowL {
	fill: none;
	stroke: #6666ff;
	stroke-width: 1;
}
.lineArrowR {
	marker-start: url(#markerCircle);
	marker-end: url(#markerArrowR);
}
.lineArrowL {
	marker-start: url(#markerCircle);
	marker-end: url(#markerArrowL);
}
