.lineArrowR, .lineArrowL {
	fill: none;
	stroke: #6666ff;
	stroke-width: 1;
}
.lineArrowR {
	marker-start: url(#markerCircle);
	marker-end: url(#markerArrowR);
}
.lineArrowL {
	fill: none;
	marker-start: url(#markerCircle);
	marker-end: url(#markerArrowL);
}
circle {
	fill:#000000;
	stroke: none;
}
.arrow {
	fill: #000000;
}
